@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    padding: 10px;
}
#block1 {
    width: 700px;
    border: 2px solid chocolate;
    padding: 10px;
    overflow: auto;
    margin: 0 auto;
}
#img-block {
    float: left;
}
#block1 img {
    width: 400px;
    margin-right: 10px;
}
#text-block {
    width: 260px;
    float: right;
}
#block1 p {
    color: #212121;
    font-size: 12pt;
    text-align: justify;
    line-height: 1.6em;
}