@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
}
#main {
    height: 100%;
    background-color: #eeeff3;
    color: #212121;
    padding: 50px 70px;
}
#reviews-block {
    margin: 0 auto;
    max-width: 1200px;
}
#reviews-block h1 {
    font-size: 24pt;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
#reviews {
    position: relative;
}
.review {
    margin: 0 10px;
}
.quote {
    padding: 25px 30px;
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    margin-bottom: 20px;
}
.quote p {
    font-size: 14pt;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
    color: #424242;
    font-family: 'Lora', serif;
}
.quote p::before {
    content: '"';
}
.quote p::after {
    content: '"';
}
.author {
    display: flex;
    align-items: center;
}
.photo img {
    width: 64px;
    margin-right: 20px;
}
.name {
    font-size: 12pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.position {
    font-size: 12pt;
    font-weight: 400;
    color: #868686;
}
.prev-slide,
.next-slide {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-70px);
}
.prev-slide img,
.next-slide img {
    width: 32px;
}
.prev-slide {
    left: -42px;
}
.next-slide {
    right: -42px;
}
.dots {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}
.dots li {
    display: inline-block;
    margin: 0 10px;
}
.dots li button {
    border: none;
    background-color: #868686;
    font-size: 0;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.dots li.slick-active button {
    background-color: dodgerblue;
}
@media (max-width: 1000px) {
    #main {
        padding: 50px 60px;
    }
}
@media (max-width: 600px) {
    #main {
        padding: 30px 40px;
    }
    .prev-slide {
        left: -30px;
    }
    .next-slide {
        right: -30px;
    }
}